.hero-unit
  %h1 Управлять задачами просто
  %p
    Taskmanager ­— это простое приложение для управления задачами.
    Он позволяет создавать задачи, менять их статус, и добавлять комментарии к ним.
  %p
    = link_to t("titles.welcome.try"), new_session_path, :class => "btn btn-success btn-large"
